<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkgiau.sqlite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hkgiau.sqlite.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hkgiau.sqlite.CatalogActivity"
            android:label="@string/title_activity_catalog" >
        </activity>
        <activity
            android:name="com.hkgiau.sqlite.OptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name="com.hkgiau.sqlite.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="com.hkgiau.sqlite.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="com.hkgiau.sqlite.CheckOutActivity"
            android:label="@string/title_activity_check_out" >
        </activity>
    </application>

</manifest>
