<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nguyentiendung.example.totalapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_myplaces"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nguyentiendung.example.totalapp.TotalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.ManagementActivity"
            android:label="@string/title_activity_management" >
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.CatalogActivity"
            android:label="@string/title_activity_catalog" >
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name="nguyentiendung.example.totalapp.CartActivity"
            android:label="@string/title_activity_cart" >
        </activity>
    </application>

</manifest>
